<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Arc_Station_View.Properties.Settings.DB_Tracklog"
            connectionString="Data Source=10.10.0.21;Initial Catalog=Arc_DB_Tracklog;Persist Security Info=True;User ID=viewer;Password=L9rUi7&gt;3x4Ft*AAWILOa(Cx5e4AGmI"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="sql-server" value="192.168.10.56"/>
    <add key="sql-user" value="arclogger"/>
    <add key="sql-password" value="CneGUXqAwkZMceBoi5ti"/>
    <add key="sql-database" value="Arc_DB_StationStats"/>
    <add key="showEntriesOnStart" value="1"/>
  </appSettings>
</configuration>